<!DOCTYPE html>
<header class="">

    <h1 class="hero">
        <span class="glyphicon glyphicon-grain"></span>
        <span class="glyphicon glyphicon-grain"></span> Welcome on your homepage
        <span class="glyphicon glyphicon-grain"></span>
        <span class="glyphicon glyphicon-grain"></span>
    </h1>

</header>


<footer>
    <div class=" row center-block">
        <div class=" col-md-4 center-block">
            <img class=" img-center" alt src="images/logos/angularjs-logo.png">
        </div>
        <div class=" col-md-4 center-block">
            <img class=" img-center " alt src="images/logos/nodejs-logo.png">
        </div>
        <div class=" col-md-4 center-block">
            <img class=" img-center" alt src="images/logos/grunt-logo.png">
        </div>
    </div>
</footer>